.main-container{
  display: flex;
}

.books-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  color: var(--color-text)
}

.books-container .form-container{
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  padding-right: 1rem;
}

.books-container .form-container .input-edit{
  display: flex;
  flex-direction: column;
}

.books-container .form-container .input-edit+.input-edit{
  margin-top: 2rem;
}

.books-container .form-container .input-edit label{
  font-size: 1rem;
}

.books-container .form-container .input-edit input,textarea{
  width: 100%;
  min-width: 40vw;
  height: 2rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-background-tertiary);
  border: 1px solid var(--color-text);
  outline: 0;
  padding-left: .8rem;
  font: .8rem Roboto;
}

.books-container .form-container .input-edit textarea{
  height: 5rem;
}

.books-container .form-container .buttons-container{
  display: flex;
}
