.general-button{
  font: 600 1.5rem Roboto;
  color: var(--color-text-secondary);
  min-width: 15vw;
  max-width: 60%;
  border: 2px solid;
  border-color: var(--color-background-main);
  border-radius: 25px;
  transition: 0.2s;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color-background-main);
}

.general-button:hover{
  background-color: var(--color-background-tertiary);
  color: var(--color-text)
}
